/* Variables and mixins declared here will be available in all other SCSS files */

@import "./utils/variables";
@import "./utils/functions";
@import "./utils/breackpoints";
@import "./utils/flex";
@import "./utils/mixins";
@import "./utils/vendors";

@import "./base/fonts";
@import "./base/reset";
@import "./base/normalize";

@import "./base/darkMode";

// @import './shared/links';
// @import './shared/sections';Nous allons intégrer
// @import './shared/cursor';

// @import './UITools/canvas';
// @import './UITools/functionals';
//@import './UITools/navigation';
//@import './UITools/preloader';

// @import './pages/home';
// @import './pages/about';
@import './pages/signup';
@import './pages/login';

.app {
  width: 100%;
  height: 100vh;
  position: relative;
  //cursor: none;
}


#Cursor {
  svg {
    @include ccc;
    position: absolute;
    transform-origin: center;

    path {
      max-width: 50px;
      max-height: 50px;
      transform: translate(25%, 25%);
    }
  }
}

.notification-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 101;
}

#smoothScoller {
  height: 100%;
  overflow: hidden;
  position: relative;
  
  .pageTransition {
      main {
        overflow: hidden;
        width: 100%;
        min-height: 100vh;
        padding-top: 70px;
      }
  }
}

header {
  @include rcb;
  padding: 20px;

  width: 100%;
  height: 70px;
  position: absolute;
  z-index: 100;
  top: 0;

  ul {
    width: 200px;
    @include rcb;
  }
}

